name: CD

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org"

      - run: pnpm install && pnpm test -- --bail --ci

      - run: pnpm run build && npm publish --tag v0.3-latest
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
